 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    justify-items: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

 
header {
    max-width: 775px;
    min-width: 775px;
    padding-top: 20px;
    text-align: left;
    margin-bottom: 20px;
 
    background-color: rgb(255, 255, 255);
}

header h1 {
    padding-top: 15px;
    color: #333;
    font-size: 2em;
}
header h3 {
    color: #837676;
    font-size: 1em;
}

.article-cover {
    max-width: 775px;
    min-width: 775px;
    max-height: 300px;
    min-height: 300px;
    align-items: center;
    margin: auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-image {
    max-width: 700px;
    min-width: 600px;
    height: auto;
 
    margin: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

article {
    padding-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

article h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

article h3 {
    color: #555;
    font-size: 1em;
    margin-bottom: 0.5em;
}

article p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 1em;
}

article ul {
    margin-bottom: 1em;
}

article li {
    color: #666;
    font-size: 1.2em;
    line-height: 1.8;
}

 
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #ffffff;
}
