body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    top: 0;
    text-align: center;
    padding: 0.1px;
}
 
footer {
    background: #333;
    color: #fff;
    padding: 1px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 1rem;
}


#articles {
    padding: 1rem;
    box-shadow: #333;
    border-color: red;
     
}


.browse_articles{
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article {
    border: 1px solid #ddd;
 
    align-items: center; 
    background-color: rgb(245, 242, 242);
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
 
 
}

.article-image img {
    max-width: 200px;
    height: auto;
    display: block;
}

.article-content {
    width: 50%;
    flex: 1;  
    padding-right: 1rem;  
}

.article-image {
    flex-shrink: 0;  
   
}


.article h3 {
    margin: 0 0 0.5rem;
}

.article p {
    margin: 0;
}


 


.content-wrapper {
    display: flex;  
    align-items: flex-start;  
    gap: 1rem;  
    padding: 1rem;  
}

 
.browse_articles {
    flex: 2;  
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
}

 
.info {
    flex: 1;  
    text-align: center;
}

.info img {
    max-width: 100%;  
    height: auto;  
    border: 1px solid #ddd;  
    padding: 5px;
    background-color: #fff;
}